
html, body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
  }


  .flexbox{
    display: flex;
}


header {
     width: 100%;
     position: fixed;
     z-index: 1;
     height: 59px;
     background-color: #333333;    
     align-items: center;
  }
  
header img {
    height: 59px;
    padding-left: 10px;
}

  nav {
    text-align: right;
    flex-grow: 1;
  }
  
  nav span {
    display: inline-block;
    padding: 20px 10px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}

 nav a {
    color: white;
    text-decoration: none;
}

.response { 
  height: 489px;
  width: 1519px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("fon-desktop.jpg"); 
}

h2 {
  text-align: center;
}

.flex-container {
    padding-bottom: 59px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

#store {
    height: 700px;
    width: 1000px;
    margin: auto;
    padding-top: 70px;

  }

.flex-container .col {
    padding: 5px;
    margin: 20px;
 
}

.col img {
    height: 200px;
    margin: 10px;
  
}

.col span {
    display: block;
    padding: 5px;
    font-weight: bold;
    text-align: center;  
}

.col a {
  color: black;
  text-decoration: none;
}


footer {
  background-color: #333;
  color: #fff;
  position: fixed;
  padding: 5px 0;
  width: 100%;
  z-index: 1;
  bottom: 0;
}

footer p {
  font-family: "Helvetica", sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
 }

 
@media only screen and (max-width: 480px) {
 
  .response { 
    height: 154px;
    width: 480px;
    background-image: url("fon-mobile.jpg"); 
  }

  header {
    height: 39px;
  }
 
   header img {
     height: 39px;
   }
   
  nav {
    text-align: left;
    flex-grow: 1;
  }

   nav span {
    font-size: 14px;
    display: inline;
    padding: 20px 10px;
    color: #fff;
    font-weight: 600;
  }

  .flex-container {
    display: inline-block;
}

#store {
  width: 480px;
  margin: auto;
}

footer {
  width: 480px;
 }
}
